<div class="">
  <div class="">
    <%= image_tag('likeicon.svg', class: 'icon')%> (<%= object.likes.liking.count %>)
    <%= image_tag('likeicon.svg', class: 'icon rotate')%>(<%= object.likes.disliking.count %>)
    <%= image_tag('laughingicon.svg', class: 'icon')%>(<%= object.likes.laughing.count %>)
  </div>
</div>
