<div class="columns">
  <div class="column">
    <%= render 'profile', user: current_user %>
  </div>
  <div class="column is-three-fifths">
    <%= render 'form', post: @post %>
    <br>
    <% @posts.each do |post| %>
      <ol class="microposts">
        <div>
          <article class="media">
      			<div class="media-left">
      				<figure class="image is-64x64">
                <%= gravatar_image_tag(post.user.email, size: 64, alt: post.user.username) %>
      				</figure>
      			</div>
      			<div class="media-content">
      				<div class="content">
      					<p>
                  <strong><%= "#{post.user.username}" %></strong><br>
      					</p>
                <small> <%= time_ago_in_words(post.created_at) %> </small>
      				</div>
      			</div>
      		</article>
        <%= post.content %>
      </ol>
      <%= render 'comments', post: post %>
    <% end %>
  </div>
  <div class="column">
    <%= render 'friendlist', user: current_user %>
  </div>
</div>
