<div class="columns">
  <div class="column is-three-fifths">
    <ol class="microposts">
      <div>
        <article class="media">
    			<div class="media-left">
    				<figure class="image is-64x64">
              <%= gravatar_image_tag(@post.user.email, size: 64, alt: @post.user.username) %>
    				</figure>
    			</div>
    			<div class="media-content">
    				<div class="content">
    					<p>
                <strong> <%= link_to "#{@post.user.username}", user_path(id: @post.user.id) %></strong>
    					</p>
              <small> <%= time_ago_in_words(@post.created_at) %> </small>
    				</div>
    			</div>
          <% if @post.user == current_user %>
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-h has-dropdown "></i>
                </span>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <strong> <%= link_to 'Edit', edit_post_path(id: @post.id), class: "dropdown-item" %></strong>
                  <strong> <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></strong>
                </div>
              </div>
            </div>
          <% end %>
    		</article>
      <%= @post.content %>
    </ol>
    <%= render 'comment_form', post: @post %>
    <%= render 'comments', post: @post %>
  </div>
</div>
