<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to image_tag("logo.png", id: "logo"), root_path, class: "navbar-brand" %>
  <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to user_path(id: current_user.id), class: "nav-link user-header" do %>
            <%= image_tag user_avatar(current_user, 25), class:"rounded-circle" %>
            <span class= "">
              <% if current_user.username.nil? %>
                <%= current_user.full_name %>
              <% else %>
                <%= current_user.username %>
              <% end %>
            </span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Connect", users_path, class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon">
              <% pending_list = current_user.pending(current_user) %>
              <i class="fas fa-bell"><%= pending_list.count %></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% pending_list.each do |user|%>
              <div class="navbar-item">
                <%= link_to "#{user.full_name}", user_path(id: user.id) %>
                <%= link_to 'Confirm', accept_user_friendships_path(user_id: user.id), method: :post, class:'button is-small has-background-info' %>
                <%= link_to 'Delete', reject_user_friendships_path(user_id: user.id), method: :post, class:'button is-small' %>
              </div>
            <% end %>
          </div>
        </li>
        <!-- second nav -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon">
              <i class="fas fa-sort-down"></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <div class="navbar-item">
              <%= link_to "Edit", edit_user_registration_path(current_user), class: "" %>
            </div>
            <div class="navbar-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "" %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</nav>
