<nav class="navbar is-info">
  <div class="navbar-brand">
    <%= link_to image_tag("logo.png", id: "logo"), root_path, class: "navbar-item" %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">


    <div class="navbar-end">
      <%= link_to user_path(id: current_user.id), class: "navbar-item" do %>
        <figure class="image">
          <%= image_tag user_avatar(current_user, 25), class:"is-rounded" %>
        </figure>
        <span class= "ml">
          <%= current_user.username %>
        </span>
      <% end %>
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
              <span class="icon">
                <% pending_list = current_user.pending(current_user) %>
                <i class="fas fa-bell"><%= pending_list.count %></i>
              </span>
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                Overview
              </a>
              <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                Modifiers
              </a>
              <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                Columns
              </a>
              <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                Layout
              </a>
              <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                Form
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                Elements
              </a>
              <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                Components
              </a>
            </div>
          </div>
          <p class="control">
            <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.5/bulma-0.7.5.zip">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
